* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: rgb(0, 250, 250); <!-- Site para cores: https://www.color-hex.com/ ou pode usar o rgb(0,0,0) -->
    color: rgb(100, 180, 50);

}